<div class="container text-center">
  <div class="animate-fade-up" style="animation-delay: 0ms">
    <h1 class="mb-4 text-center text-dark fw-bold">{{ title }}</h1>
    <br />
    <!-- Formlar -->

    @if (!forms || forms.length==0){
    <h6 class="mb-0">
      <p class="text-dark">Şuanda Aktif Form Bulunmamaktadır</p>
    </h6>
    <hr />

    } @else { @for (item of forms; track $index) {
    <h3>{{ item.title }}</h3>
    <div class="responsive-iframe">
      <iframe [src]="item.safeUrl" frameborder="0" allowfullscreen></iframe>
    </div>

    } }
  </div>

  <!-- İletişim Bilgileri -->
  <div class="container my-5 animate-fade-up" style="animation-delay: 200ms">
    <h1 class="mb-4 text-center text-dark fw-bold">İletişim Bilgilerimiz</h1>
    <div class="row text-center text-md-start">
      <div>
        <div class="container my-5">
          <!-- my-5 ile üstten ve alttan boşluk ekledik -->
          <div class="row justify-content-center text-center text-md-start">
            <!-- Değişiklik burada -->

            <!-- E-posta -->
            <div class="col-md-4 mb-4">
              <div
                class="d-flex align-items-center justify-content-center justify-content-md-start"
              >
                <i class="bi bi-envelope-fill fs-4 me-3"></i>
                <div>
                  <h5 class="mb-1 fw-bold">E-posta</h5>
                  <p class="mb-0 text-secondary">info@company.com</p>
                </div>
              </div>
            </div>

            <!-- Adres -->
            <div class="col-md-4 mb-4">
              <div
                class="d-flex align-items-center justify-content-center justify-content-md-start"
              >
                <i class="bi bi-geo-alt-fill fs-4 me-3"></i>
                <div>
                  <h5 class="mb-1 fw-bold">Adres</h5>
                  <p class="mb-0 text-secondary">
                    Yıldız Teknik Üniversitesi Davutpaşa Kampüsü
                    Esenler/İstanbul
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sosyal Medya -->
        <hr />
        <h4
          class="text-center mb-3 animate-fade-up"
          style="animation-delay: 400ms"
        >
          Bizi Takip Edin
        </h4>
        <div
          class="d-flex justify-content-center gap-3 footer-icons animate-fade-up"
          style="animation-delay: 400ms"
        >
          <!-- <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a> -->
          <a
            href="https://www.instagram.com/ytufarkk?igsh=NjNqMHBkMXBhazIz"
            aria-label="Instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="https://x.com/ytufarkk?t=A1d6wNbVIJAecaahI-wsRg&s=09  "
            aria-label="Twitter"
            ><i class="bi bi-twitter-x"></i
          ></a>

          <a
            href="https://youtube.com/@ytufarkk?si=04TVYiqmzT06U3CE"
            aria-label="YouTube"
          >
            <i class="bi bi-youtube"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/ytufarkk/"
            aria-label="LinkedIn"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
