<div class="container my-5">
  <!-- Başlık animasyonlu -->
  <h1
    class="mb-3 text-center text-dark fw-bold animate-fade-up"
    [ngStyle]="{ 'animation-delay': '0ms' }"
  >
    Haberler
  </h1>
  <hr />

  @for (item of news; track $index) {
  <div
    class="card mb-4 border-2 animate-fade-up"
    style="background-color: #f9f9f9; border-color: #e9ecef"
    [ngStyle]="{ 'animation-delay': ($index + 1) * 200 + 'ms' }"
  >
    <div
      class="card-body d-flex flex-column flex-md-row align-items-start gap-3"
    >
      <div class="flex-grow-1">
        <h5 class="card-title fw-semibold text-dark">
          {{ item.title }}
        </h5>
        <p class="card-text text-secondary text-wrap summary-text">
          {{ item.summary }}
        </p>
        <a
          class="text-body-emphasis text-decoration-none fw-semibold"
          routerLink="detail/{{ item.id }}"
          onmouseover="this.style.color='#495057'"
          onmouseout="this.style.color=''"
          >Devamı için tıklayınız →</a
        >
        <figcaption class="blockquote-footer mt-2 text-muted small text-end">
          {{ item.date }}
        </figcaption>
      </div>
      <div style="min-width: 120px; max-width: 150px">
        <img
          src="{{ item.photo }}"
          alt="Haber görseli"
          class="img-fluid rounded"
        />
      </div>
    </div>
  </div>
  }
</div>
