<nav class="navbar navbar-expand-md" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand d-md-none" routerLink="main/">
      <svg class="bi" width="24" height="24" aria-hidden="true">
        <use xlink:href="#aperture"></use>
      </svg>
      YTÜ FARK
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas"
      aria-controls="offcanvas"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      #offcanvas
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas"
      aria-labelledby="offcanvasLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">
          Fikri Araştırmalar Kulübü
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          @for (item of navbar; track $index) { @if(checkLogin() && item.body ==
          "GİRİŞ YAP"){ }@else {
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="{{ item.link }}"
              (click)="closeOffcanvas()"
            >
              <h4>{{ item.body }}</h4>
            </a>
          </li>
          } } @if(checkLogin()){
          <li>
            <div class="dropdown">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Admin Sekmeleri
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)="logOut()">Çıkış Yap</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="adminPanel"
                    >Admin Paneli</a
                  >
                </li>
              </ul>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>

<br />
