<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top"
  >
    <!-- Logo ve Telif Hakkı -->
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        aria-label="Bootstrap"
      >
        <svg class="bi" width="30" height="24" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"
        >Fikri Araştırmalar Kulübü</span
      >
    </div>

    <!-- Dinamik Linkler -->
    <ul class="nav col-md-4 justify-content-center">
      @for (item of footer; track $index) {
      <li class="nav-item">
        <a
          routerLink="{{ item.link }}"
          class="nav-link px-2 text-body-secondary"
          >{{ item.body }}</a
        >
      </li>
      }
    </ul>

    <!-- Sosyal Medya İkonları -->
    <ul
      class="nav col-md-4 justify-content-end list-unstyled d-flex footer-icons"
    >
      <li class="ms-3">
        <a href="#" aria-label="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#" aria-label="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#" aria-label="X">
          <i class="bi bi-twitter-x"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#" aria-label="Linkedin">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
