<div class="auth-wrapper">
  <div class="auth-card animate-fade-up" style="animation-delay: 200ms">
    <div class="auth-card-body">
      <h2 class="auth-title">Admin</h2>
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email" class="form-label"
            >Kullanıcı adınızı giriniz</label
          >
          <input
            [(ngModel)]="email"
            name="email"
            id="email"
            type="email"
            class="form-control"
            placeholder="Kullanıcı adınızı giriniz"
            required
          />
        </div>

        <div class="form-group password-group">
          <label for="password" class="form-label">Şifre</label>
          <div class="input-with-icon">
            <input
              [(ngModel)]="password"
              name="password"
              id="password"
              [type]="passwordFieldType"
              class="form-control"
              placeholder="Şifrenizi girin"
              required
            />
            <span class="password-toggle-icon">
              <i
                class="bi"
                [ngClass]="
                  passwordFieldType === 'password' ? 'bi-eye' : 'bi-eye-slash'
                "
                (click)="togglePassword()"
                title="Şifreyi Göster/Gizle"
              ></i>
            </span>
          </div>
        </div>

        <button type="submit" class="submit-button">Giriş Yap</button>
      </form>
    </div>
  </div>
</div>
