<div class="container">
  <!-- images -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
      @for (item of slider; track $index) {
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{ item.photo }}" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-white">{{ item.title }}</h5>
          <p class="text-white">
            {{ item.body }}
          </p>
        </div>
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- end of images -->
  <br />
  <!-- haberler -->
  <div>
    <h1 class="blog-post-title">Haberler</h1>
    <hr />
    <div class="row mb-2">
      @for (item of mainnews; track $index) {

      <div class="col-md-6">
        <div
          class="card flex-md-row mb-4 box-shadow h-md-250 card border-2"
          id="card"
        >
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0">
              <p>{{ item.title }}</p>
            </h4>
            <div class="mb-1 text-muted">{{ item.date }}</div>
            <p class="card-text mb-auto">{{ item.summary }}</p>
            <a class="text-dark" routerLink="/news/">Continue reading</a>
          </div>
          <img
            class="card-img-right flex-auto d-none d-md-block"
            src="{{ item.photo }}"
            alt="Card image cap"
          />
        </div>
      </div>

      }
    </div>
  </div>
  <!-- haberler bitis -->
  <br />
  <!-- hakkımızda -->
  <div>
    <h1 class="blog-post-title">Hakkımızda</h1>
    <hr />
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-250" id="card">
          <div class="card-body d-flex flex-column align-items-start">
            <div *ngFor="let item of aboutUs">{{ item.summary }}</div>
            <a class="text-dark" routerLink="/aboutUs/"
              >devamı için tıklayınız...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
