<div class="container my-5">
  <!-- Başlık -->
  <h1
    class="mb-4 text-center text-dark fw-bold animate-fade-up"
    style="animation-delay: 0ms"
  >
    Query
  </h1>

  <form (submit)="checkQuery(); $event.preventDefault()">
    <div class="row justify-content-center">
      <!-- Input -->
      <div class="col-md-6 animate-fade-up" style="animation-delay: 200ms">
        <label for="queryInput" class="form-label fw-semibold">Ürün adı</label>
        <input
          type="text"
          id="queryInput"
          class="form-control form-control-lg"
          [(ngModel)]="inputValue"
          name="queryInput"
          placeholder="Ürün adını girin..."
        />
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <!-- Buton -->
      <div
        class="col-md-6 text-center animate-fade-up"
        style="animation-delay: 400ms"
      >
        <button type="submit" class="btn btn-primary btn-lg px-5">
          Sorgula
        </button>
      </div>
    </div>
  </form>
</div>
